{% extends 'base.html.twig' %}

{% block title %}Détails de l'utilisateur{% endblock %}

{% block body %}
    <div class="max-w-4xl mx-auto mt-16 p-8 bg-gray-900 rounded-lg shadow-md text-white">
        <h1 class="text-3xl font-bold mb-6 text-green-500 text-center">Détails de l'utilisateur</h1>

        <table class="w-full table-auto border-collapse text-left bg-gray-800 rounded-lg overflow-hidden">
            <tbody>
            <tr class="border-b border-gray-700">
                <th class="py-2 px-4 text-gray-300">Id</th>
                <td class="py-2 px-4">{{ user.id }}</td>
            </tr>
            <tr class="border-b border-gray-700">
                <th class="py-2 px-4 text-gray-300">Email</th>
                <td class="py-2 px-4">{{ user.email }}</td>
            </tr>
            <tr class="border-b border-gray-700">
                <th class="py-2 px-4 text-gray-300">Pseudo</th>
                <td class="py-2 px-4">{{ user.pseudo }}</td>
            </tr>
            <tr class="border-b border-gray-700">
                <th class="py-2 px-4 text-gray-300">Roles</th>
                <td class="py-2 px-4">{{ user.roles ? user.roles|json_encode : '' }}</td>
            </tr>
            <tr class="border-b border-gray-700">
                <th class="py-2 px-4 text-gray-300">Prénom</th>
                <td class="py-2 px-4">{{ user.firstname }}</td>
            </tr>
            <tr class="border-b border-gray-700">
                <th class="py-2 px-4 text-gray-300">Nom</th>
                <td class="py-2 px-4">{{ user.lastname }}</td>
            </tr>
            <tr class="border-b border-gray-700">
                <th class="py-2 px-4 text-gray-300">Photo de profil</th>
                <td class="py-2 px-4">
                    {% if user.profilePicture %}
                        <img src="{{ asset(user.profilePicture) }}" alt="Profile Picture" class="w-20 h-20 rounded-full">
                    {% else %}
                        <span class="text-gray-400 italic">Aucune</span>
                    {% endif %}
                </td>
            </tr>
            </tbody>
        </table>

        <div class="flex justify-between mt-6">
            <a href="{{ path('app_user_index') }}" class="bg-gray-700 hover:bg-gray-600 text-white px-4 py-2 rounded transition">
                Retour à la liste
            </a>
            <a href="{{ path('app_user_edit', {'id': user.id}) }}" class="bg-yellow-500 hover:bg-yellow-600 text-black px-4 py-2 rounded transition">
                Modifier
            </a>
            {{ include('user/_delete_form.html.twig', { 'button_class': 'bg-red-600 hover:bg-red-700 text-white px-4 py-2 rounded transition' }) }}
        </div>
    </div>
{% endblock %}
